@import "tailwindcss";

.nav-item {
  padding: 6px 12px;
  transition: all 0.5s ease;
  color: black;
  border: 2px solid black; 
  border-radius: 20px;
}

.nav-item.active {
  background: linear-gradient(30deg, #3b82f6, #06b6d4); 
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2); 
  border: none; 
  color: white;
}
