@import "tailwindcss";

.nav-item {
  padding: 8px 12px;
  transition: all 0.3s ease;
  color: black;
  border-radius: 6px;
}

.nav-item:hover {
  background-color: #f0f0f0;
  color: black;
}

.nav-item.active {
  background: linear-gradient(90deg, #3b82f6, #06b6d4); 
  border-radius: 20px;
  color: white;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2); 
}
